#save {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 1em;
	background: lightgrey;
	display: none;
}
#edit {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 1em;
	background: lightgrey;
}
#message {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
	padding: 2em;
	border-radius: 1em;
	max-width: 20em;
	text-align: center;
}
